<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card text-start">
      <img class="card-img-top" src="holder.js/100px180/" alt="" />
      <div class="card-body">
        <h4 class="card-title text-center">Register</h4>
        <div class="container">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="mb-3">
              <label for="usuario" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="helpId"
                placeholder=""
                formControlName="email"
              />
              <small id="helpId" class="form-text text-muted">Email</small>
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                name="Password"
                id="Password"
                placeholder=""
                formControlName="password"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-lg">
              Register
            </button>
          </form>
          <p>Do you have an account? <a routerlink="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
